<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indications</title>
</head>
<body>
<div>
	<a href="{% url 'create_measurement' %}">Add measurement</a>
	<a href="{% url 'view_indications' %}">Indications</a>
</div>
 {% for measurement in measurements %}
     <p>{{ measurement.value }} - {{ measurement.description }}</p>
 {% endfor %}
</body>
</html>
