<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indications</title>
</head>
<body>
 {% for indications in indications %}
     <p>{{ indications.temperature }} - {{ indications.humidity }}</p>
 {% endfor %}
</body>
</html>>